
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Comments</li>
        </ol>

        

      

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>content</th>
                    <th>user</th>
                    <th>course</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                      <th>content</th>
                      <th>user</th>
                      <th>course</th>
                      <th>Action</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let comment of allComments">
                    <td>{{comment.comment_content}}</td>
                    <td>{{comment.comment_user.user_first_name}} {{comment.comment_user.user_last_name}} </td>
                    <td>{{comment.comment_course.course_title}}</td>
                    <td>
                      <a (click)=deleteComment(comment)>
                        <i class="far fa-trash-alt"></i>
                        
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>

