 <!-- mian-content -->
    <!-- //header -->
    <div class="banner-content inner" id="home">
      <!-- header -->
      <header class="header">
          <div class="container-fluid px-lg-5">
              <!-- nav -->
              <nav class="py-4">
                  <div id="logo">
                      <h1> <a href="index.html"><span>5</span>Skills</a></h1>
                  </div>

                  <label for="drop" class="toggle">Menu</label>
                  <input type="checkbox" id="drop" />
                  <ul class="menu mt-2">
                      <li><a href="#">Home</a></li>
                      <li><a href="about.html">About</a></li>

                      <li class="active">
                          <!-- First Tier Drop Down -->
                          <label for="drop-2" class="toggle">Courses <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                          <a href="#">Courses <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                          <input type="checkbox" id="drop-2" />
                          <ul>
                              <li><a href="courses.html" class="scroll">Add link1</a></li>
                              <li><a href="courses.html">Add link2</a></li>
                              <li><a href="courses.html">Add link3</a></li>
                          </ul>
                      </li>
                      <li><a href="events.html">Events</a></li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </nav>
              <!-- //nav -->
          </div>
      </header>
      <!-- //header -->
  </div>
  <!-- //header -->
  <!--// mian-content -->
  <!---->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Courses</li>
  </ol>
  <!---->
  <!--// mian-content -->
  <!-- banner -->
  <section class="ab-info-main py-md-5 py-4">
      <div class="container">
          <div class="ab-info-grids pt-md-5 pt-3">
              <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle">Latest</span>Available Courses</h3>
              <div id="products" class="row view-group">
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="assets/images/g1.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  Programming</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g2.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  Art & Design</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $25.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g3.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  Languages</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $30.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g4.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  UX Training</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $34.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g5.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  Business</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $29.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g6.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  Vocabulary</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $20.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g3.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  Photography</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $31.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g2.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  Inclusive-education</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $19.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item col-lg-4 thumb-last">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="images/g1.jpg" alt="" />
                          </div>
                          <div class="caption card-body">
                              <h4 class="group card-title inner list-group-item-heading">
                                  New Technologies</h4>
                              <p class="group inner list-group-item-text">
                                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                              <div class="row">
                                  <div class="col-6">
                                      <p class="lead">
                                          $33.00</p>
                                  </div>
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" href="single.html">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- //banner -->
  <!--footer -->
  <footer>
      <section class="footer footer_1its py-5">
          <div class="container py-md-4">
              <div class="row footer-top mb-md-5 mb-4">
                  <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                      <div class="footer-title-w3ls">
                          <h3>Address</h3>
                      </div>
                      <div class="footer-text">
                          <p>Address : 1234 lock, Charlotte, North Carolina, United States</p>
                          <p>Phone : +12 534894364</p>
                          <p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
                          <p>Fax : +12 534894364</p>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-md-0 mt-4 footer-grid_section_1its">
                      <div class="footer-title-w3ls">
                          <h3>Quick Links</h3>
                      </div>
                      <div class="row">
                          <ul class="col-6 links">
                              <li><a href="index.html">Home </a></li>
                              <li><a href="about.html">About </a></li>
                              <li><a href="events.html">Events</a></li>
                              <li><a href="courses.html">Courses</a></li>
                              <li><a href="contact.html">Contact </a></li>
                          </ul>
                          <ul class="col-6 links">
                              <li><a href="#">Privacy Policy </a></li>
                              <li><a href="#">General Terms </a></li>
                              <li><a href="#faq">Faq's </a></li>
                              <li><a href="#">Knowledge </a></li>
                              <li><a href="#">Forum </a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mt-lg-0 mt-4 col-sm-12 footer-grid_section_1its">
                      <div class="footer-title-w3ls">
                          <h3>Newsletter</h3>
                      </div>
                      <div class="footer-text">
                          <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                          <form action="#" method="post">
                              <input type="email" name="Email" placeholder="Enter your email..." required="">
                              <button class="btn1 btn"><span class="fa fa-paper-plane-o" aria-hidden="true"></span></button>
                              <div class="clearfix"> </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="footer-grid_section text-center">
                  <div class="footer-title-w3ls mb-3">
                      <a href="index.html"><span>H</span>igh Edu</a>
                  </div>
                  <div class="footer-text">
                      <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ipnut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur elit.</p>
                  </div>
                  <ul class="social_section_1info">
                      <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook mr-1"></span>facebook</a></li>
                      <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter mr-1"></span>twitter</a></li>
                      <li class="google"><a href="#"><span class="fa fa-google-plus mr-1"></span>google</a></li>
                      <li class="linkedin"><a href="#"><span class="fa fa-linkedin mr-1"></span>linkedin</a></li>
                  </ul>
              </div>
              <div class="move-top-w3layouts text-center mt-3">
                  <a href="#home" class="move-top"> <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a>
              </div>
          </div>
      </section>
  </footer>
  <!-- //footer -->
  <!-- copyright -->
  <div class="cpy-right text-center py-3">
      <p class="">© 2019 High Edu. All rights reserved | Design by
          <a href="http://w3layouts.com"> W3layouts.</a>
      </p>
  </div>
  <!-- //copyright -->