 <!-- mian-content -->
    <!-- //header -->
    <div class="banner-content inner">
  
      <!-- //header -->
  </div>
  <!-- //header -->
  <!--// mian-content -->
  <!---->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item active">Courses</li>
  </ol>
  <!---->
  <!--// mian-content -->
  <!-- banner -->

  <section  class="ab-info-main py-md-5 py-4">
     
      <div class="container">
          <div class="ab-info-grids pt-md-5 pt-3">
              <h3 class="tittle text-center mb-lg-5 mb-3"><span class="sub-tittle">Latest</span>Available Courses</h3>
              <div id="products" class="row view-group">
                  
                  <div class="item col-lg-4" *ngFor="let results of result; let i = index" >
                      <div class="thumbnail card" >
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" style="width:348px; height:300px" src="http://localhost:3000/user/courses/image/{{results.course_image}}" alt="" />
                          </div>
                          <div class="caption card-body" style="width: 350px">
                              <h4 class="group card-title inner list-group-item-heading style" style="font-size: 20px;
                              height: 108px">
                                  {{results.course_title}}</h4>
                              <p class="group inner list-group-item-text">
                                  </p>
                              <div class="row">
                                  <div class="col-6">
                                    <span class="fa fa-calendar"></span> {{results.course_date|date}}

                                  </div>
                                  
                                  <div class="col-6 ban-buttons">
                                      <a class="btn btn-course" routerLink="/simpleuser/course/{{results._id}}" style="margin-left: -18px;
                                      margin-top: -12px">View More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              
      
  </section>
  <!-- //banner -->
  <!--footer -->
 
  <!-- //footer -->
  <!-- copyright -->
  <div class="cpy-right text-center py-3">
      <p class="">© 2019 High Edu. All rights reserved | Design by
          <a href="http://w3layouts.com"> W3layouts.</a>
      </p>
  </div>
  <!-- //copyright -->